# https://github.com/gettalong/kramdown/issues/532
require "kramdown"
Kramdown::Parser::Html::Constants::HTML_CONTENT_MODEL_BLOCK.push "center"
Kramdown::Parser::Html::Constants::HTML_CONTENT_MODEL["center"] = :block

preprocess do
  @config[:env] = ENV["ENV"] if ENV["ENV"]
end

ignore "/**/_*"

compile "/home.haml" do
	filter :haml, remove_whitespace: true
	layout "/default.*"
	write "/index.html"
end

compile "/**/*.haml" do
	filter :haml, remove_whitespace: true
	layout "/default.*"
	write item.identifier.without_ext + "/index.html"
end

compile "/kalender.md" do
  filter :kramdown, parse_block_html: true, parse_span_html: true
	snapshot :text
	layout "/text.*"
end

compile "/**/*.md" do
  filter :kramdown, parse_block_html: true, parse_span_html: true
	layout "/text.*"
	layout "/default.*"
	write item.identifier.without_ext + "/index.html"
end

compile "/**/*.scss" do
	filter :sass, syntax: :scss, style: :compact, cache_location: "tmp/sass-cache"
	write item.identifier.without_ext + ".css"
end

compile "/**/*" do
	write item.identifier.to_s
end

layout "/**/*", :haml, remove_whitespace: true
