ignore "/**/_*"

compile "/index.haml" do
	filter :haml
	layout "/default.*"
	write "/index.html"
end

compile "/**/*.haml" do
	filter :haml
	layout "/default.*"
	write item.identifier.without_ext + "/index.html"
end

compile "/**/*.scss" do
	filter :sass, syntax: :scss, style: :compact, cache_location: "tmp/sass-cache"
	write item.identifier.without_ext + ".css"
end

compile "/**/*" do
	write item.identifier.to_s
end

layout "/**/*", :haml
