---
title: "Kogukondlikud arutelud #kuidasmekestame"
page: home
---
%header#header
	%center
		%h1= item[:title]

%section#welcome.white-section
	%center
		%img(src="/assets/counties.png" alt="Eesti maakonnad")

		%p.paragraph
			<strong>Teadlased ennustavad Eestile lähemateks kümnenditeks rahvaarvu
			jätkuvat ja olulist kahanemist.</strong> Kahanev rahvaarv kujutab tõsist
			ohtu meie riigi harjumuspärasele toimimisele ning keele, kultuuri ja
			elukeskkonna säilimisele.

		%p.paragraph
			Tule ja osale Eesti rahvastiku teemalises arutelus ning ideekorjes,
			et saaksid sündida kokkulepped ja lahendused, 
			mis on vajalikud elujõulise Eesti tagamiseks!

		%menu
			%a.blue-button(href="/algatusest/") Loe rohkem
			%a.green-button(href="/сохранимся/") Подробнее

%section#join.grey-section
	%center
		%h2.subheading Algatuses saab igaüks osaleda

		%ul
			%li.join-through
				%img(src="/assets/icon-calendar.svg")
				%h4.subsubheading Korralda arutelu oma kogukonnas
				%p.paragraph
					Ole eestvedajaks ja kutsu oma paikkonna inimesed või mõttekaaslased
					rahvastiku hoidmise teemat arutama ja probleemidele lahendusi välja
					töötama.
				%a.blue-button(href="/korraldajale/") Korraldan

			%li.join-through
				%img(src="/assets/icon-faces.svg")
				%h4.subsubheading Osale arutelul
				%p.paragraph
					Tule ja too oma mõtted arutellu, kus sündivad lahendused jõuavad 
					otsustajateni nii omavalitsustes kui riigis. Vaata, kus ja millal 
					on arutelud üle Eesti plaanitud, vali sobivaim ning pane end osalejana kirja. 
				%a.white-button(href="/kalender/") Osalen

			%li.join-through
				%img(src="/assets/icon-laptop.svg")
				%h4.subsubheading Tee ettepanek veebis
				%p.paragraph
					Kui Sa siiski ei  jõudnud arutelule või Sul tuli pärast seda veel 
					häid mõtteid, on novembrikuu viimasel nädalal võimalik teha 
					ettepanekuid ka avalikul veebiplatvormil. 
				%a.blue-button(href="/ideekorje/") Kirjutan

%section#counter.white-section
	%center
		%h2.subheading Hetkeks on...
		%ul
			%li <em>00</em> arutelu korraldatud
			%li <em>00</em> inimest osalenud aruteludes
