@import "reset";
$page-width: 100rem;
$page-padding: 6rem;
$page-padding-mobile: 3rem;
$text-size: 1.6rem;
$text-line-height: 1.6;
$tablet-width: 865px;
$mobile-width: 569px;

// https://brand.estonia.ee/et/disain/varvid/
$headline-font: Aino Headline, Aino, sans-serif;
$blue: #0000F0;
$link-blue: #0078ff;
$green: #65a580;
$dark-grey: #323334;
$light-grey: #f0f1f2;

@mixin tablet {
  @media only screen and (min-width: $mobile-width + 1px) and
    (max-width: $tablet-width) { @content }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) { @content }
}

@font-face {
  font-family: "Aino";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-regular.eot");
  src:
		url("/assets/aino-regular.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-regular.woff") format("woff"),
		url("/assets/aino-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aino";
  font-weight: bold;
  font-style: normal;

  src: url("/assets/aino-bold.eot");
  src:
		url("/assets/aino-bold.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-bold.woff") format("woff"),
		url("/assets/aino-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Aino Headline";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-headline.eot");
  src:
		url("/assets/aino-headline.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-headline.woff") format("woff"),
		url("/assets/aino-headline.ttf") format("truetype");
}

html,
body {
	height: 100%;
}

body {
	background-color: white;
	color: $dark-grey;
	font-family: Aino, sans-serif;
	display: flex;
	flex-direction: column;

	// Without an explicit text-align, Internet Explorer (9 at least) has no
	// text-align value to inherit from for <center>.
	text-align: left;
}

strong { font-weight: bold; }

section {
	padding: 6rem 0;

	@include mobile {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

center {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0 $page-padding;
	text-align: inherit;

	@include mobile {
		padding-left: $page-padding-mobile;
		padding-right: $page-padding-mobile;
	}

	// Internet Explorer still centers things under <center> even with
	// text-align: inherit.
	& > * { margin-right: auto }
}

.grey-section { background-color: $light-grey; }

.text-section {
	font-size: $text-size;
	line-height: $text-line-height;
	hyphens: manual;

	center {
		max-width: 80rem;
	}

	* + h2 { margin-top: 4rem; }
	* + h3 { margin-top: 4rem; }

	ul {
		margin: ($text-size * $text-line-height) 0;

		li {
			margin-left: 4rem;
			list-style-type: disc;
		}
	}

	img {
		max-width: 100%;
	}
}

.subheading,
.text-section h2 {
	font-size: 3.6rem;
	font-family: $headline-font;
	color: $blue;
	margin-bottom: 4rem;
	line-height: 1.5;
}

.subsubheading,
.text-section h3 {
	color: $blue;
	font-size: 2.4rem;
	line-height: 1.5;
}

.subsubheading,
.text-section h4 {
	color: $blue;
	font-size: 2rem;
	line-height: 1.5;
}

.paragraph,
.text-section p {
	font-size: $text-size;
	line-height: $text-line-height;

	& + p { margin-top: 1.6 * 1.6rem; }
	&.centered { text-align: center; }
}

.paragraph a,
.text-section a {
	&:not(.blue-button):not(.image-link) {
		border-bottom: 3px solid $link-blue;
		&:hover { color: $link-blue; }
	}
}

.blue-button,
.green-button,
.white-button {
	display: inline-block;
	padding: 0 2.5rem;
	line-height: 4rem;
	border-radius: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.blue-button { background: $blue; color: white; }
.green-button { background: $green; color: white; }
.white-button { background: white; color: $blue; border: 1px solid $blue; }

#nav,
#header,
#footer { color: white; background: $blue; }

#nav {
	padding: 2rem 0;
	line-height: 3rem;

	.home {
		font-weight: bold;
		font-size: 1.8rem;
		font-family: $headline-font;
	}

	a {
		display: inline-block;
		padding: 0 1rem;
	}

	menu {
		float: right;
	}

	menu a {
		//display: inline-block;
		border-radius: 0.3rem;
		border: 1px solid transparent;
		font-size: 1.3rem;
		margin-left: 1rem;

		&.selected {
			color: $blue;
			background-color: white;
			font-weight: bold;
		}

		&:hover {
			border-color: white;
		}
	}

	@include tablet {
		line-height: 2;

		.home { display: block; font-size: 2.4rem; }
		menu { float: none; }
		menu a { margin: 0.5rem 0.5rem 0.1rem 0; }
	}

	@include mobile {
		line-height: 2;

		center { padding: 0 2rem; }
		.home { display: block; font-size: 2.4rem; }
		menu { float: none; }
		menu a { margin: 0.5rem 0.5rem 0.1rem 0; }
	}
}

#header {
	padding: 2rem 0 6rem;

	h1 {
		max-width: 60rem;
		font-size: 4.8rem;
		font-family: $headline-font;
	}

	&.text-header center { max-width: 80rem; }

	@include mobile {
		padding: 0 0 3rem;
		h1 { font-size: 3rem; }
	}
}

#main {
	flex-grow: 1;
}

#home-page {
	#welcome {
		img {
			float: right;
			margin-left: 2rem;
			margin-bottom: 2rem;
			max-width: 50%;
		}

		p {
			max-width: 50%;
		}

		menu {
			margin-top: 4rem;
			a { margin-right: 4rem; }
		}

		@include tablet {
			p { max-width: none; }
		}

		@include mobile {
			img { float: none; max-width: 100%; margin-bottom: 2rem; }
			p { max-width: none; }
			menu a { margin-top: 1rem; margin-right: 1rem; }
		}
	}

	#join {
		ul {
			display: flex;
			flex-direction: row;
		}

		.join-through {
			// Non-flex fallback.
			display: inline-block;
			max-width: 33.33%;
			text-align: center;
			vertical-align: top;

			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;

			padding: 0 2rem;

			img {
				display: block;
				margin: 0 auto;
				width: 10rem;
				max-width: 100%;
			}

			h4 { margin: 2rem 0; }
			p { text-align: left; flex-grow: 1; }
			a { margin-top: 2rem; }
		}

		@include mobile {
			ul { display: block; }

			.join-through {
				max-width: none;
				display: block;

				& + .join-through { margin-top: 4rem; }
			}
		}
	}

	#counter {
		padding-bottom: 10rem;

		ul {
			text-align: center;
		}

		li {
			vertical-align: top;
			padding: 0 4rem;
			max-width: 30rem;
			color: $blue;
			display: inline-block;
			font-size: 2.2rem;
			line-height: 1.5;

			em {
				font-family: $headline-font;
				font-size: 7rem;
				display: block;
			}
		}
	}
}

#footer {
	padding: 4rem 0;
	font-size: 1.4rem;
	line-height: 1.6;

	h2 {
		font-weight: bold;
		margin-bottom: 1rem;
	}

	#contact,
	#supporters {
		vertical-align: top;
		display: inline-block;

		@include mobile {
			display: block;
			width: auto;
		}
	}

	#contact {
		width: 33%;

		@include tablet { width: 50%; }
	}

	#supporters {
		width: 66%;
		padding-left: 2rem;

		img {
			display: block;
			height: 8rem;
		}

		li {
			display: inline-block;
			margin-right: 2rem;
		}

		@include tablet {
			width: 50%;

			li {
				display: block;
				margin-top: 1rem;
			}
		}

		@include mobile {
			padding-left: 0;
			margin-top: 4rem;
		}
	}
}
