@import "reset";
$page-width: 100rem;
$page-padding: 6rem;
$page-padding-mobile: 2rem;
$text-size: 1.6rem;
$text-line-height: 1.6;
$tablet-width: 865px;
$mobile-width: 569px;
$text-section-width: 80rem;

// https://brand.estonia.ee/et/disain/varvid/
$body-font: Aino, sans-serif;
$headline-font: Aino Headline, Aino, sans-serif;
$blue: #0000F0;
$link-blue: #0078ff;
$green: #65a580;
$dark-grey: #323334;
$light-grey: #f0f1f2;
$orange: #ff4800;
$population-problems-color: $orange;
$migration-problems-color: #808284;
$work-problems-color: $green;
$population-solutions-color: $orange;
$national-migration-solutions-color: #808284;
$international-migration-solutions-color: #a7a9ab;
$work-solutions-color: $green;

$solution-colors: (
	population: $population-solutions-color,
	national-migration: $national-migration-solutions-color,
	international-migration: $international-migration-solutions-color,
	work: $work-solutions-color,
);

@mixin desktop {
  @media only screen and (min-width: $tablet-width + 1px) { @content }
}

@mixin tablet {
  @media only screen and (min-width: $mobile-width + 1px) and
    (max-width: $tablet-width) { @content }
}

@mixin tablet-and-mobile {
  @media only screen and (max-width: $tablet-width) { @content }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) { @content }
}

@font-face {
  font-family: "Aino";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-regular.eot");
  src:
		url("/assets/aino-regular.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-regular.woff") format("woff"),
		url("/assets/aino-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aino";
  font-weight: bold;
  font-style: normal;

  src: url("/assets/aino-bold.eot");
  src:
		url("/assets/aino-bold.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-bold.woff") format("woff"),
		url("/assets/aino-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Aino Headline";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-headline.eot");
  src:
		url("/assets/aino-headline.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-headline.woff") format("woff"),
		url("/assets/aino-headline.ttf") format("truetype");
}

html,
body {
	height: 100%;
}

body {
	background-color: white;
	color: $dark-grey;
	font-family: $body-font;
	display: flex;
	flex-direction: column;

	// Without an explicit text-align, Internet Explorer (9 at least) has no
	// text-align value to inherit from for <center>.
	text-align: left;
}

strong { font-weight: bold; }

section center {
	padding-top: 6rem;
	padding-bottom: 6rem + 2rem; // + a little to compensate for line height.

	@include mobile {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

center {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0 $page-padding;
	text-align: inherit;

	@include mobile {
		padding-left: $page-padding-mobile;
		padding-right: $page-padding-mobile;
	}

	// Internet Explorer still centers things under <center> even with
	// text-align: inherit.
	& > * { margin-right: auto }
}

.grey-section { background-color: $light-grey; }

.white-section + .white-section center { padding-top: 0; }
.grey-section + .grey-section center { padding-top: 0; }

.text-section {
	font-size: $text-size;
	line-height: $text-line-height;
	hyphens: manual;

	center {
		max-width: $text-section-width;
	}

	* + h2 { margin-top: 4rem; }
	* + h3 { margin-top: 4rem; }

	ul {
		margin: ($text-size * $text-line-height) 0;

		li {
			margin-left: 4rem;
			list-style-type: disc;
		}
	}

	img {
		max-width: 100%;
	}
}

.centered { text-align: center; }

.subheading,
.text-section h2 {
	font-size: 3.6rem;
	font-family: $headline-font;
	color: $blue;
	margin-bottom: 4rem;
	line-height: 1.5;

	@include mobile {
		font-size: 2.7rem;
	}

	& ~ .subheading {
		margin-top: 4rem;
	}
}

.subsubheading,
.text-section h3 {
	color: $blue;
	font-size: 2.4rem;
	line-height: 1.5;
}

.text-section h4 {
	font-weight: bold;
	font-size: inherit;
	line-height: 1.5;
}

.paragraph,
.text-section p {
	font-size: $text-size;
	line-height: $text-line-height;

	& + p { margin-top: 1.6 * 1.6rem; }
}

.paragraph a,
.text-section a {
	&:not(.blue-button):not(.image-link) {
		border-bottom: 3px solid $link-blue;

		&:focus { outline: 1px dashed $blue; }
		&:hover { color: $link-blue; }
	}

	&.image-link {
		&:focus { outline: 1px dashed $blue; }
	}
}

.blue-button,
.green-button,
.orange-button,
.white-button {
	display: inline-block;
	padding: 0 2.5rem;
	line-height: 4rem;
	border-radius: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.blue-button:focus,
.white-button:focus {
	box-shadow: inset 0 0 0 .2rem white, 0 0 0 .2rem $blue; 
}

.blue-button { background: $blue; color: white; }

.green-button {
	background: $green;
	color: white;

	&:focus { box-shadow: inset 0 0 0 .2rem white, 0 0 0 .2rem $green; }
}

.orange-button {
	background: $orange;
	color: white;

	&:focus { box-shadow: inset 0 0 0 .2rem white, 0 0 0 .2rem $orange; }
}

.white-button { background: white; color: $blue; border: 1px solid $blue; }

#nav,
#header,
#footer { color: white; background: $blue; }

#nav {
	padding: 2rem 0;
	line-height: 3rem;

	.home {
		font-weight: bold;
		font-size: 1.8rem;
		font-family: $headline-font;

		&:focus { outline: 1px dashed rgba(white, 0.8); }
	}

	menu {
		float: right;
	}

	menu a {
		border-radius: 0.3rem;
		border: 1px solid transparent;
		font-size: 1.3rem;
		margin-left: 1rem;
		display: inline-block;
		padding: 0 1rem;

		&.selected {
			color: $blue;
			background-color: white;
			font-weight: bold;
		}

		&:focus { border: 1px dashed rgba(white, 0.8); }
		&:hover { border-color: white; }
	}

	@include tablet {
		line-height: 2;

		.home { display: block; font-size: 2.4rem; }
		menu { float: none; }
		menu a { margin: 0.5rem 0.5rem 0.1rem 0; }
	}

	@include mobile {
		line-height: 2;

		center { padding: 0 2rem; }
		.home { display: block; font-size: 2.4rem; }
		menu { float: none; }
		menu a { margin: 0.5rem 0.5rem 0.1rem 0; }
	}
}

#header {
	padding: 2rem 0 6rem;

	h1 {
		max-width: 60rem;
		font-size: 4.8rem;
		font-family: $headline-font;
	}

	&.text-header center { max-width: $text-section-width; }

	@include mobile {
		padding: 0 0 3rem;
		h1 { font-size: 2.5rem; }
	}
}

#main {
	flex-grow: 1;
}

#home-page {
	#welcome {
		p {
			width: 50%;
			padding-right: 2rem;
		}

		iframe {
			float: right;
			width: 44rem;
			max-width: 50%;
			height: 44rem * 9 / 16;
			margin-bottom: 3rem;
		}

		menu {
			clear: both;
			margin-top: 4rem;
			text-align: center;

			a { margin-right: 4rem; }
		}

		@include tablet-and-mobile {
			center { padding-top: 0; }
			p { width: auto; padding-right: 0; }
			iframe { float: none; width: 100%; max-width: none; }
			menu a { margin-top: 1rem; margin-right: 1rem; }
		}

		@include mobile {
			img { float: none; margin-bottom: 2rem; }
			iframe { margin-bottom: 2rem; height: auto; }
		}
	}

	#join {
		ul {
			display: flex;
			flex-direction: row;
		}

		.join-through {
			// Non-flex fallback.
			display: inline-block;
			max-width: 33.33%;
			text-align: center;
			vertical-align: top;

			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;

			padding: 0 2rem;

			img {
				display: block;
				margin: 0 auto;
				width: 10rem;
				max-width: 100%;
			}

			p { margin-top: 2rem; text-align: left; flex-grow: 1; }
			a { margin-top: 2rem; }
		}

		@include mobile {
			ul { display: block; }

			.join-through {
				max-width: none;
				display: block;

				& + .join-through { margin-top: 4rem; }
			}
		}
	}

	#results {
		.centered {
			margin-top: 4rem;
		}
	}
}

#organizer-page {
	.form-section {
		center {
			max-width: $text-section-width;
			@include mobile { padding-left: 0; padding-right: 0; }
		}

		iframe {
			display: inline-block;
			width: 100%;
		}
	}
}

#home-page #map,
#discussions-page #map {
	background-color: #f2f2f0;

	background-image: linear-gradient(
		to right,
		#cad2d3 0,
		#cad2d3 50%,
		#f2f2f0 50%,
		#f2f2f0 100%
	);

	center { padding: 0; }
}

#home-page #discussions-map,
#discussions-page #discussions-map {
	width: 100%;
	height: 50rem;

	.mapboxgl-popup {
		max-width: 20rem;
		font-family: $body-font;

		h4 {
			font-weight: bold;
			line-height: 1.5;
		}

		.paragraph {
			font-size: 1.3rem;
			line-height: 1.3;
		}
	}
}

#discussions-map .discussion,
#discussions-page .discussion {
	h4 { color: $blue; }
	&.past h4 { color: $dark-grey; }

	dl dt,
	dl dd {
		display: inline;
	}

	dl dt { font-weight: bold; }
	dl dt:after { content: ": "; }

	dl dd:after {
		content: "";
		display: block;
	}
}

#discussions-page {
	#discussions {
		h3 { margin-bottom: 2rem; }

		.discussion + .discussion { margin-top: $text-size * $text-line-height; }
	}
}

#home-page #problems-with-solutions,
#results-page #problems-with-solutions {
	$padding: 1rem;
	margin-top: 4rem;
	margin-left: -$padding;
	margin-right: -$padding;

	.solutions-of {
		padding: 0 $padding;
		width: 33.33%;
		display: inline-block;
		vertical-align: top;
		font-size: $text-size;
		color: white;
		text-align: center;

		@include tablet-and-mobile {
			width: auto;
			padding: 0;
			display: block;

			& + .solutions-of {
				margin-top: 4rem;
			}
		}

		h3 {
			height: 5rem;
			border-radius: 0.5rem;
			line-height: 5rem;
			text-align: center;
			font-weight: bold;
		}

		.problems {
			margin: 2rem 0;
			text-align: left;
		}

		.problem {
			$count-width: 5rem;
			$chevron-width: 2.4rem;
			border-radius: 0.5rem;
			font-size: 1.3rem;
			line-height: 1.4;

			input { display: none; }

			label {
				display: block;
				padding: 1.2rem 1rem 1.2rem 0;
				cursor: pointer;
				overflow: hidden;

				.count {
					float: left;
					line-height: 3.2rem;
					width: $count-width;
					text-align: center;
					font-size: 3rem;
					font-weight: 600;
					font-family: $headline-font;
				}

				p {
					margin-left: $count-width;
					margin-right: $chevron-width;
				}

				.chevron {
					float: right;
					background: url("/assets/chevron-down.svg") center no-repeat;
					width: $chevron-width;
					height: $chevron-width + 1rem;
				}
			}

			.problem-solutions {
				display: none;
				color: black;
				border-bottom-left-radius: 0.5rem;
				border-bottom-right-radius: 0.5rem;
				padding: 1.5rem 1.5rem 0 1rem;
				box-shadow: inset 0 0.2rem 0 0 rgba(black, .2);
				max-height: 30rem;
				overflow: auto;

				li {
					margin-left: 1.5rem;
					list-style-type: numeric;
					font-weight: bold;
					font-size: 1.1rem;

					span {
						font-weight: normal;
						font-size: 1.3rem;
					}
				}

				li + li {
					margin-top: 0.5rem;
				}

				// https://bugzilla.mozilla.org/show_bug.cgi?id=748518
				li:last-child { padding-bottom: 1.5rem; }

				@include tablet-and-mobile {
					overflow: visible;
					max-height: none;
				}
			}

			input:checked ~ label .chevron {
				background-image: url("/assets/chevron-up.svg");
			}

			input:checked ~ .problem-solutions { display: block; }

			& + .problem { margin-top: 1rem; }
		}
	}

	#population-problems-with-solutions h3,
	#population-problems-with-solutions .problem {
		background-color: $population-problems-color;
	}

	#population-problems-with-solutions .problem-solutions {
		background-color: lighten($population-problems-color, 43%);
	}

	#migration-problems-with-solutions h3,
	#migration-problems-with-solutions .problem {
		background-color: $migration-problems-color;
	}

	#migration-problems-with-solutions .problem-solutions {
		background-color: lighten($migration-problems-color, 40%);
	}

	#work-problems-with-solutions h3,
	#work-problems-with-solutions .problem {
		background-color: $work-problems-color;
	}

	#work-problems-with-solutions .problem-solutions {
		background-color: lighten($work-problems-color, 40%);
	}
}

#results-page {
	.text-section center {
		max-width: $page-width;
	}

	#wordclouds {
		.hopes-and-fears {
			margin-top: 4rem;
			text-align: center;
		}

		li {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			padding: 0 1rem;
		}

		img {
			margin-top: 2rem;
			max-width: 100%;
		}

		@include tablet-and-mobile {
			li { width: auto; display: block; margin: 0 auto; padding: 0; }
			li + li { margin-top: 3rem; }
		}
	}

	#problems {
		$font-size: $text-size;
		$line-height: $font-size * 1.4;

		margin-top: 4rem;
		border: 1px solid $light-grey;
		border-radius: 0.5rem;
		font-size: $text-size;

		input {
			display: none;
		}

		menu {
			padding: 0.5rem 0.5rem 0;
			font-weight: bold;
			background: $light-grey;
			text-align: center;

			a {
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
				line-height: 5rem;
				display: inline-block;
				width: 33.33%;
			}

			label {
				display: block;
				cursor: pointer;
			}
		}

		.problems-of {
			display: none;
			padding: 2rem 2rem 0;
			line-height: $line-height;

			p,
			.score {
				padding: 1rem 0;
			}

			p {
				padding-right: 1rem;
				vertical-align: middle;
				display: inline-block;
				text-align: right;
				width: 40%;
				border-right: .3rem solid $light-grey;
			}

			.score {
				vertical-align: middle;

				display: inline-block;
				width: 60%;
				line-height: 4rem;
				color: white;
				font-weight: bold;

				.bar {
					display: block;
					padding: 0 1rem;
					border-top-right-radius: 1rem;
					border-bottom-right-radius: 1rem;
				}
			}

			@include tablet-and-mobile {
				padding-bottom: 2rem;

				p {
					text-align: left;
					width: auto;
					border-right: 0;
				}

				.score {
					width: 100%;
					line-height: 3rem;

					.bar {
						border-radius: 1rem;
					}
				}
			}
			
			@include desktop {
				:last-child p,
				:last-child .score { padding-bottom: 2rem; }
			}
		}

		#population-problems .bar { background-color: $population-problems-color; }
		#migration-problems .bar { background-color: $migration-problems-color; }
		#work-problems .bar { background-color: $work-problems-color; }

		#population-problem-group:checked ~ menu #population-problem-group-button,
		#migration-problem-group:checked ~ menu #migration-problem-group-button,
		#work-problem-group:checked ~ menu #work-problem-group-button {
			background: white;
		}

		#population-problem-group:checked ~ #population-problems,
		#migration-problem-group:checked ~ #migration-problems,
		#work-problem-group:checked ~ #work-problems {
			display: block;
		}
	}
}

#home-page #solutions,
#results-page #solutions {
	$padding: 1rem;
	$single-column-breakpoint: 719px;
	margin-top: 4rem;
	margin-left: -$padding;
	margin-right: -$padding;

	@media only screen and (max-width: $single-column-breakpoint) {
		margin-left: 0;
		margin-right: 0;
	}

	nav {
		margin: 0 $padding;
		margin-bottom: 2rem;
		border-bottom: 1rem solid transparent;

		label {
			display: inline-block;
			width: 25%;
			height: 5rem;
			cursor: pointer;
			font-size: 1.6rem;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			color: white;
			line-height: 5rem;
			text-align: center;
			font-weight: bold;
		}

		@each $category, $color in $solution-colors {
			label[for=#{$category}-solutions-toggle] { background-color: $color; }
		}

		@include tablet-and-mobile {
			margin-left: 0;
			margin-right: 0;
		}

		@include tablet-and-mobile {
			display: inline-block;

			label {
				width: auto;
				padding: 0 2rem;
			}
		}

		@media only screen and (max-width: $single-column-breakpoint) {
			display: none;
		}
	}

	@each $category, $color in $solution-colors {
		input##{$category}-solutions-toggle:checked ~ nav { border-color: $color; }

		input##{$category}-solutions-toggle:checked ~ ##{$category}-solutions {
			display: block;
		}
	}

	.solutions-of {
		display: none;

		@media only screen and (max-width: $single-column-breakpoint) {
			display: block;

			& + .solutions-of { margin-top: 4rem; }
		}
	}

	.solutions-for {
		padding: 0 $padding;
		width: 33.33%;
		display: inline-block;
		vertical-align: top;
		font-size: $text-size;
		color: white;

		@include tablet-and-mobile {
			width: auto;
			padding: 0;
			display: block;

			& + .solutions-of {
				margin-top: 4rem;
			}
		}

		h3 {
			border-radius: 0.5rem;
			line-height: 5rem;
			text-align: center;
			font-weight: bold;
			margin-bottom: 2rem;

			.category { display: none; }

			@media only screen and (max-width: $single-column-breakpoint) {
				text-align: left;
				font-family: $headline-font;
				background-color: transparent !important;
				font-weight: normal;
				line-height: 1.5;
				color: $blue;
				font-size: 2.4rem;
				margin-bottom: 2rem;

				.category { display: inline; }
			}
		}

		@media only screen and (max-width: $single-column-breakpoint) {
			& + .solutions-for { margin-top: 4rem; }
		}
	}

	.solution {
		$chevron-width: 2.4rem;
		border-radius: 0.5rem;
		font-size: 1.3rem;
		line-height: 1.4;

		// Some #hashtags are way too long there.
		word-wrap: break-word;

		label {
			display: block;
			padding: 1.2rem 1rem 1.2rem 2rem;
			overflow: hidden;

			&.with-details {
				cursor: pointer;
			}

			.chevron {
				float: right;
				background: url("/assets/chevron-down.svg") center no-repeat;
				width: $chevron-width;
				height: $chevron-width + 1rem;
			}

			.chevron + p { margin-right: $chevron-width; }
		}

		.solution-details {
			display: none;
			color: black;
			padding: 1.5rem;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			box-shadow: inset 0 0.2rem 0 0 rgba(black, .2);
			max-height: 30rem;
			overflow: auto;

			font-weight: normal;
			font-size: 1.3rem;

			@include tablet-and-mobile {
				overflow: visible;
				max-height: none;
			}

			h4 {
				margin-top: 1rem;
				font-weight: 600;
			}

			.solution-links {
				a:link {
					color: $link-blue;
				}
			}
		}

		input:checked ~ label .chevron {
			background-image: url("/assets/chevron-up.svg");
		}

		input:checked ~ .solution-details { display: block; }

		& + .solution { margin-top: 1rem; }
	}

	@each $category, $color in $solution-colors {
		##{$category}-solutions h3,
		##{$category}-solutions .solution {
			background-color: $color;
		}

		##{$category}-solutions .solution-details {
			background-color: lighten($color, 43%);
		}
	}
}

#home-page #next-solution-steps,
#results-page #next-solution-steps {
	margin-top: 4rem;
	font-size: 1.6rem;

	li + li {
		margin-top: 0.5rem;
	}

	.link-count {
		display: inline-block;
		text-align: center;
		width: 6rem;
		margin-right: 2rem;
		margin-bottom: 1rem;

		i {
			display: inline-block;
			border-radius: 50%;
			background-color: $blue;
			text-align: center;
			font-weight: bold;
			color: white;
		}
	}
}

#footer {
	padding: 4rem 0;
	font-size: 1.4rem;
	line-height: 1.6;

	h2 {
		font-weight: bold;
		margin-bottom: 1rem;
	}

	#contact,
	#supporters {
		vertical-align: top;
		display: inline-block;

		@include mobile {
			display: block;
		}
	}

	#contact {
		width: 33%;

		a {
			text-decoration: underline;

			&:focus { outline: 1px dashed rgba(white, 0.8); }
		}

		@include tablet { width: 50%; }
		@include mobile { width: auto; }
	}

	#supporters {
		width: 66%;
		padding-left: 2rem;

		img {
			display: block;
			height: 8rem;
		}

		li {
			display: inline-block;
			margin-right: 2rem;
		}

		a {
			display: inline-block;

			&:focus { outline: 1px dashed rgba(white, 0.8); }
		}

		@include tablet {
			width: 50%;

			li {
				display: block;
				margin-top: 1rem;
			}
		}

		@include mobile {
			padding-left: 0;
			margin-top: 4rem;
			width: auto;
		}
	}
}
