!!!
%html(lang="et")
	%head
		%meta(charset="utf-8")
		%title= @item[:title] + (@item[:page] != "home" ? " - #kestame" : "")
		%meta(name="generator" content="Nanoc #{Nanoc::VERSION}")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%link(rel="stylesheet" href="/assets/default.css")

		- if @config[:env] == "production"
			%script
				function args() { return arguments }
				dataLayer = [args("js", new Date), args("config", "UA-122944734-1")]
			%script(async src="https://www.googletagmanager.com/gtag/js?id=UA-122944734-1")

	%body{id: item[:page] && "#{item[:page]}-page"}
		%nav#nav
			%center
				%a.home(href="/") #kestame

				%menu
					%a{link_to_unless_current("/algatusest/")} Algatusest
					%a{link_to_unless_current("/probleemist/")} Probleemist
					%a{link_to_unless_current("/kalender/")} Kalender
					%a{link_to_unless_current("/korraldajale/")} Korraldajale
					%a{link_to_unless_current("/ideekorje/")} Ideekorje

		#main= yield

		%footer#footer
			%center
				%p
					%strong Kogukondlike arutelude koordinaator<br>
					Maris Jõgeva<br>
					<strong>e-post</strong>:
					<a href="mailto:maris@rahvaalgatus.ee">maris@rahvaalgatus.ee</a><br>
					<strong>tel</strong>:
					<a href="tel:+37253421726">+372 53421726</a><br>
